<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebRTC</title>
    <link rel="icon" type="image/png" href="images/icon.png" />
  </head>

  <body>
    <div>
      Video:
      <select id="camera"></select>
    </div>
    <p>
      <button id="takeProfilePicture" type="button" autofocus="true">
        Create Profile Picture
      </button>
    </p>
    <br />
    <video id="videoTag" autoplay></video>
    <canvas id="profilePicCanvas" style="display: none"></canvas>
    <div><img id="profilePictureOutput" /></div>

    <script src="getUserMedia.js"></script>
    <script src="stream.js"></script>
  </body>
</html>
