<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebRTC</title>
  </head>

  <body>
    <div>
      Video:
      <select id="camera"></select>
    </div>
    <br />
    <video autoplay></video>

    <script src="stream.js"></script>
  </body>
</html>
